/* CSS Document */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

/* Navigation bar */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}

.badge-1 {
    background-color: #0F0F0F;
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 10px 0;
    letter-spacing: 1.2px;
}

.badge-1 .underline {
    text-decoration: underline;
}

.menu {
    padding: 12px 0;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegation a {
    display: inline-block;
    transform-origin: center;
    color: white;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-right: 20px;
    transition: transform 0.2s ease;
}

.navegation a:hover {
    transform: scale(1.1);
}

.media {
    display: flex;
    align-items: center;
    gap: 16px;
}

.media img {
    display: block;
    width: 22px;
    height: 22px;
    transition: transform 0.2s ease;
}

.media img:hover {
    transform: scale(1.1);
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: "Urbanist", sans-serif;
}

.Banner {
    width: 100%;
    height: auto;
}

#hello {
    text-align: center;
}

/* Introduction */
.Introduction {
    max-width: 800px;
    background-color: white;
    margin: 50px auto 40px;
}

.Introduction h1 {
    font-size: 46px;
    font-family: "Hubballi", sans-serif;
    line-height: 1.1;
    margin: 0;
    text-align: center;
}

.Introduction h2 {
    font-size: 16px;
    font-family: "Hubballi", sans-serif;
    line-height: 1.1;
    margin: 0 0 30px 0;
    text-align: center;
    letter-spacing: 0.8px;
}

.Introduction p {
    font-size: 14px;
    line-height: 1.4;
    margin: 10px 0 20px;
    text-align: justify;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.Introduction .bold {
    font-weight: 500;
}

#hello .startnow {
    display: inline-block;
    margin: 0 auto 40px;
    color: black;
    border: 1px solid #CCCCCC;
    padding: 12px 25px;
    border-radius: 30px;
    letter-spacing: 2.0px;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    background: transparent;
    transition: border-color 0.2s ease;
}

#hello .startnow:hover {
    border-color: black;
}

#Slogan {
    text-align: center;
    background-color: #F9F9F9;
    color: black;
    padding: 8rem 0;
}

#Slogan h3 {
    font-family: 'Hubballi', sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: clamp(2.5rem, 6vw, 5rem);
    margin: 0;
}

/* Services section */
.services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#Services .separador {
    display: flex;
    align-items: center;
    /* Alinea verticalmente */
    gap: 32px;
    margin: 60px 0 40px;
}

#Services h4 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.8px;
    font-family: 'Urbanist', sans-serif;
    color: black;
    white-space: nowrap;
}

/* <hr> estilizado */
#Services .separador::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #17223C;
    transform: translateY(6px);
}

#Services .desc-services {
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-bottom: 30px;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;
}

.pricing-card {
    background: #ffffff;
    max-width: 380px;
    border-radius: 24px;
    padding: 28px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    font-family: "Urbanist", sans-serif;
}

.pricing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pricing-badge {
    background: #000;
    color: #fff;
    padding: 6px 14px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 600;
}

.pricing-duration {
    background: #f2f2f2;
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 500;
}

.pricing {
    font-size: 45px;
    font-weight: 700;
}

.pricing span {
    font-size: 24px;
    font-weight: 700;
}

.pricing-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    padding: 12px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 20px 0 25px;
}

.pricing-btn:hover {
    border-color: black;
}

.pricing-features li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

/* Programs section */
.programs-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#Programs .separador {
    display: flex;
    align-items: center;
    /* Alinea texto y línea verticalmente */
    gap: 32px;
    /* Espacio entre texto y línea */
    margin: 60px 0 40px;
}

#Programs h4 {
    margin: 0;
    /* CLAVE: quita márgenes conflictivos */
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.8px;
    font-family: 'Urbanist', sans-serif;
    color: black;
    white-space: nowrap;
}

/* <hr> estilizado */
#Programs .separador::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #17223C;
    transform: translateY(6px);
}

#Programs .desc-programs {
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-bottom: 40px;
}

.programs-category {
    display: block;
    font-size: 14px;
    letter-spacing: 3.0px;
    font-weight: 600;
    margin: 40px 0 30px;
}

/* Cards */
/* Cards Grid */
.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

/* Card */
.card {
    position: relative;
    /* para los botones */
    background-color: white;
    width: 200px;
    border-radius: 12px;
    text-align: left;
    transition: transform .3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Ebook Image */
.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.fav-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: white;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.fav-btn:hover {
    color: red;
}

.fav-btn:hover::before {
    content: "♥";
}

.fav-btn::before {
    content: "♡";
}

.title {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: black;
    margin: 8px 0 4px 4px;
}

.desc {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: gray;
    margin: 3px 0 3px 4px;
}

.price {
    display: block;
    font-size: 11px;
    color: #000;
    letter-spacing: 0.5px;
    line-height: 1.4;
    margin: 3px 0 3px 4px;
}

.cart-btn {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    right: 5px;
    /* Separación del borde derecho */
    bottom: 10px;
}

.cart-btn img {
    width: 20px;
    height: auto;
    border-radius: 0;
    transition: transform 0.2s ease;
}

.cart-btn img:hover {
    transform: scale(1.15);
}

/* Store section */
.store-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#Store .separador {
    display: flex;
    align-items: center;
    gap: 32px;
    /* Espacio entre texto y línea */
    margin: 60px 0 40px;
}

#Store h4 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.8px;
    font-family: 'Urbanist', sans-serif;
    color: black;
    white-space: nowrap;
}

/* <hr> estilizado */
#Store .separador::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #17223C;
    transform: translateY(6px);
}

/* Collabs section */
.collabs-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#Collabs .separador {
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 60px 0 40px;
}

#Collabs h4 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.8px;
    font-family: 'Urbanist', sans-serif;
    color: black;
    white-space: nowrap;
}

/* <hr> estilizado */
#Collabs .separador::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #17223C;
    transform: translateY(6px);
}

#Collabs .desc-collabs {
    font-size: 13px;
    letter-spacing: 3.0px;
    font-weight: 500;
    margin-bottom: 40px;
}

#Collabs .collabs-content {
    flex-wrap: wrap;
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 60px 0;
}

#Collabs .contact-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 600px;
    gap: 15px;
}

#Collabs .contact-form input,
#Collabs .contact-form textarea {
    padding: 12px 16px;
    /* ↓ antes estaba muy alto */
    font-size: 14px;
    border: 2px solid #dcdcdc;
    border-radius: 6px;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 0.8px;
}

#Collabs .contact-form textarea {
    min-height: 45px;
    resize: none;
}

#Collabs .contact-form button {
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px 25px;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    font-size: 10px;
    cursor: pointer;
    transition: border-color 0.2s ease;
}

#Collabs .contact-form button:hover {
    border-color: black;
}

#Collabs .phone-group {
    display: flex;
    align-items: center;
    border: 2px solid #dcdcdc;
    border-radius: 6px;
    overflow: hidden;
    /* ← CLAVE */
    background-color: #f2f2f2;
}

#Collabs .phone-group .flag {
    padding: 0 14px;
    background-color: none;
    font-size: 18px;
}

#Collabs .phone-group input {
    /* ← elimina borde interno */
    background: white;
    flex: 1;
    padding: 12px 16px;
    font-size: 14px;
    outline: none;
    border: none;
}

/*Profile Card*/
.profile-card {
    display: block;
    width: 330px;
    padding: 30px 30px 20px 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: #3D3D3D;
    flex-shrink: 0;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.name {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1.2px;
}

.bio {
    font-size: 12px;
    color: #cfcfcf;
    margin: 5px 0 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.location {
    color: #4596D6;
    font-size: 11px;
    margin-bottom: 15px;
}

.links a {
    display: block;
    width: 100%;
    background-color: #787878;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.links a:hover {
    background-color: #333;
}

/*Footer section*/
#footer {
    text-align: center;
    padding: 50px 20px;
    background-color: #F9F9F9;
    color: black;
}

#footer .support {
    margin: 15px;
    font-size: 13px;
    letter-spacing: 0.8px;
}

#footer .email {
    font-size: 14px;
    font-weight: 500;
}

#footer .rights {
    margin: 15px;
    font-size: 10px;
}

.start {
    position: fixed;
    z-index: 1100;
    bottom: 40px;
    right: 40px;
    background-color: #17223C;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.start:hover {
    background-color: #0f1a2b;
    transform: scale(1.1);
}

/* MEDIA QUERIES */
/* Tablet */
@media (max-width: 1024px) {

    .container,
    .collabs-container {
        padding: 0 32px;
    }

    .services-grid {
        gap: 60px;
    }
}

/* Mobile */
@media (max-width: 768px) {

    /* HEADER */
    .navegation {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        gap: 20px;
        background-color: black;
        text-align: center;
        padding: 20px 0;

        /* Menu oculto */
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .navegation.active {
        transform: translateY(-10px);
        opacity: 1;
        pointer-events: auto;
    }

    .navegation a {
        padding: 8px 0;
        font-size: 15px;
        letter-spacing: 1.2px;
    }

    .menu-toggle {
        display: block;
    }

    /* MAIN */
    #Slogan {
        padding: 4rem 0;
    }

    #Slogan h3 {
        line-height: 1.5;
    }

    .container,
    .collabs-container {
        padding: 0 20px;
    }

    #Collabs .collabs-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .profile-card {
        margin-top: 40px;
    }

    /* FOOTER */
    #footer {
        padding: 20px 20px;
    }

    .start {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}