/* CSS Document */
* {
    box-sizing: border-box;
}

/* Navigation bar */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    padding: 10px;
    background-color: #17223C;
    color: white;
}
.navegation a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    transition: transform 0.2s ease;
}
.navegation a:hover {
    transform: scale(1.1);
}
.navegation ul {
    display: flex;
    justify-content: center;
    gap: 70px; /* separación entre enlaces */
    padding: 10;
    margin: 10;
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #faf7ef;
}

/* Main container */
.Introduction {
    display: flex;
    height: 100vh;
    /* alto de la pantalla completa */
}

/* Left Introduction*/
.Intro {
    width: 50%;
    background-color: #faf7ef;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Intro h1 {
    font-size: 60px;
    font-family: "Playfair Display", serif;
    line-height: 1.1;
    margin: 0 0 20px 0;
    text-align: center;
}
.Intro h2 {
    font-size: 25px;
    font-family: "Playfair Display", serif;
    line-height: 1.1;
    margin: 0 0 20px 0;
    text-align: center;
}
.Intro p {
    font-size: 20px;
    line-height: 1.4;
    margin: 10 0 20px 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/* Right Introduction */
.Korina {
    width: 50%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.Korina img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    display: block;
}

#Slogan {
    margin: 0;
    text-align: center;
    background-color: #697F96;
    color: black;
    padding: 40px;
    font-size: 80px;
    font-family: "Playfair Display", serif;
}

/* Services section */
#Services .separador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;
}
/* <hr> estilizado */
#Services .separador::before,
#Services .separador::after {
    content: "";
    flex: 1;
    height: 5px;
    margin-top: 70px;
    background-color: #17223C;
}
#Services .separador h3 {
    font-weight: 700;
    font-size: 32px;
    color: #17223C;
    font-family: 'Merriweather', sans-serif;
    margin-top: 70px;
    letter-spacing: 1.5px;
}

/* Programs section */
#Programs .separador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;
}
/* <hr> estilizado */
#Programs .separador::before,
#Programs .separador::after {
    content: "";
    flex: 1;
    height: 5px;
    margin: 70px 0 50px 0;
    background-color: #17223C;
}
#Programs .separador h3 {
    font-weight: 700;
    font-size: 32px;
    color: #17223C;
    font-family: 'Merriweather', sans-serif;
    margin: 70px 0 50px 0;
    letter-spacing: 1.5px;
}

#Programs .desc-ebooks {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    display: block;
    line-height: 1.4;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
}
#Programs span {
    font-weight: bold;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
    display: block;
    font-family: 'Merriweather', sans-serif;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    /* grosor */
    text-underline-offset: 3px;
    letter-spacing: 1.3px;
}

/* Cards */
/* Cards Grid */
.card-grid {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}

/* Card */
.card {
    position: relative;
    /* necesario para los botones */
    background-color: #A7B4C2;
    width: 260px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform .3s;
}
.card:hover {
    transform: translateY(-5px);
}

/* Ebook Image */
.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

/* Title */
.title {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

/* Fav button */
.fav-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: white;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Fav hover efectos */
.fav-btn:hover {
    color: red;
}
.fav-btn:hover::before {
    content: "♥";
}
.fav-btn::before {
    content: "♡";
}

/* Old price */
.old-price {
    text-decoration: line-through;
    color: #bb0000;
    font-size: 15px;
    margin: 0 0 0 20px;
    padding: auto;
    font-family: "Poppins", sans-serif;
    text-align: left;
}
/* Current price */
.price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0 0 15px 20px;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

/* Cart button */
.cart-btn {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0 0 13px 0;
    cursor: pointer;
    right: 25px;
    /* Separación del borde derecho */
    bottom: 20px;
}
.cart-btn img {
    width: 30px;
    height: auto;
    border-radius: 0;
    transition: transform 0.2s ease;
}
.cart-btn img:hover {
    transform: scale(1.15);
}

/* Store section */
#Store .separador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;
}
/* <hr> estilizado */
#Store .separador::before,
#Store .separador::after {
    content: "";
    flex: 1;
    height: 5px;
    background-color: #17223C;
}
#Store .separador h3 {
    font-weight: 700;
    font-size: 32px;
    color: #17223C;
    font-family: 'Merriweather', sans-serif;
    letter-spacing: 1.5px;
}

/* Collabs section */
#Collabs .separador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;
}
/* <hr> estilizado */
#Collabs .separador::before,
#Collabs .separador::after {
    content: "";
    flex: 1;
    height: 5px;
    margin-top: 70px;
    background-color: #17223C;
}
#Collabs .separador h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 70px;
    color: #17223C;
    font-family: 'Merriweather', sans-serif;
    letter-spacing: 1.5px;
}

#Collabs .desc-collabs {
    max-width: 1000px;
    text-align: center;
    margin: 50px auto 30px auto;
    display: block;
    line-height: 1.4;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
}

/*Profile Card*/
.profile-card {
    background-color: #3D3D3D;
    width: 330px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    display: block;
    /* aseguras comportamiento de bloque */
    margin-left: auto;
    margin: 50px 10% 50px auto;
    font-family: 'Poppins', sans-serif;
}
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.name {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}
.location {
    color: #4596D6;
    /* verde limón como en la imagen */
    font-size: 14px;
    margin: 5px 0 10px;
}
.bio {
    font-size: 16px;
    color: #cfcfcf;
    margin-bottom: 25px;
    font-weight: 400;
}
.links a {
    display: block;
    width: 100%;
    background-color: #787878;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background 0.2s ease;
    text-decoration: none;
    text-align: center;
}
.links a:hover {
    background-color: #333;
}

/*Footer section*/
#footer {
    text-align: center;
    padding: 10px;
    background-color: #A7B4C2;
    color: black;
}
#footer .support {
    margin: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

.start {
    position: fixed;
    z-index: 1100;
    bottom: 40px;
    right: 40px;
    background-color: #17223C;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}
.start:hover {
    background-color: #0f1a2b;
    transform:  scale(1.1);
}